.App{
    width:400px !important;
    border:1px solid gray;
}
.App >h1{
    background-color: gray;
    margin: 0px;
    font-size: 20px;
    padding: 10px;
}
.toDoForm{
   width: 100%;
}
.toDoForm>form>input{
    width: 98%;
    height: 30px;
}
.itemLists{
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.itemName{
    width: 70%;
}
#page-numbers {
    list-style: none;
    display: flex;
  }
  
  #page-numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
  }
  .icon{
    border: 1px solid;
    padding: 4px 4px 0px 4px;
    border-radius: 4px;
  }
  


